<div translate="no" data-loc="{{ loc }}" class="notranslate codeblock codeblock-length-{{ length }} {{ languages|map(language => "codeblock-#{language}")|join(' ') }} {{ css_classes }}">
    <div class="codeblock-scroll">
        <pre class="codeblock-lines">{{ line_numbers }}</pre>
        <pre class="codeblock-code"><code>{{ code|raw }}</code></pre>
    </div>
</div>
