{% set size = ['-', 'sm', 'md', 'lg', 'xl'][loc | length] %}

<div translate="no" data-loc="{{ loc }}" class="notranslate codeblock codeblock-length-{{ size }}{% for lang in languages %} codeblock-{{ lang }}{% endfor %}{{ node.caption ? ' codeblock-has-caption' }}{{ node.classes ? ' ' ~ node.classes | join(' ') }}">
    {% if node.caption -%}
        <div class="codeblock-caption">{{ node.caption }}</div>
    {% endif -%}
    <div class="codeblock-scroll">
        <pre class="codeblock-lines">
            {{- line_numbers -}}
        </pre>
        <pre class="codeblock-code"><code>
            {{- code|raw -}}
        </code></pre>
    </div>
</div>
