<div class="configuration-block">
    <div role="tablist" aria-label="Configuration formats" class="configuration-tabs configuration-tabs-length-{{ blocks|length }}">
        {% for block in blocks %}
            <button role="tab" type="button" data-language="{{ block.language }}"
                aria-controls="{{ 'configuration-block-tabpanel-' ~ block.hash }}" aria-selected="{{ loop.first ? 'true' : 'false' }}"
                {{ loop.first ? 'data-active="true"' }} {{ not loop.first ? 'tabindex="-1"' }}>
                <span>{{ block.language_label }}</span>
            </button>
        {% endfor %}
    </div>

    {% for block in blocks %}
        <div role="tabpanel" id="{{ 'configuration-block-tabpanel-' ~ block.hash }}" aria-label="{{ block.language_label }}" class="configuration-codeblock" data-language="{{ block.language }}" style="{{ not loop.first ? 'display: none' }}">
            {{ block.code|raw }}
        </div>
    {% endfor %}
