<div class="configuration-block">
    <ul class="configuration-tabs">
        {% for block in blocks %}
            <li data-language="{{ block.language }}" {{ loop.first ? 'data-active="true"' }}>
                <a href="#">{{ block.language }}</a>
            </li>
        {% endfor %}
    </ul>

    {% for block in blocks %}
        <div class="configuration-codeblock" data-language="{{ block.language }}" style="{{ not loop.first ? 'display: none' }}">
            {{ block.code|raw }}
        </div>
    {% endfor %}
