<div class="configuration-block">
    <div role="tablist" aria-label="{{ node.plainContent }}" class="configuration-tabs configuration-tabs-length-{{ node.tabs|length }}">
        {% for tab in node.tabs %}
            <button role="tab" type="button" data-language="{{ tab.plainContent|lower|slug }}"
                aria-controls="configuration-block-tabpanel-{{ node.key }}-{{ tab.key }}" aria-selected="{{ loop.first ? 'true' : 'false' }}"
                {{ loop.first ? 'data-active="true"' }}{{ not loop.first ? ' tabindex="-1"' }}>
                <span>{{ renderNode(tab.content) }}</span>
            </button>
        {% endfor %}
    </div>

    {% for tab in node.tabs %}
        <div role="tabpanel" id="configuration-block-tabpanel-{{ node.key }}-{{ tab.key }}" aria-label="{{ tab.plainContent }}" class="configuration-codeblock" data-language="{{ tab.plainContent|lower|slug }}" style="{{ not loop.first ? 'display: none' }}">
            {{ renderNode(tab.children) }}
        </div>
    {% endfor %}
</div>

